---
http_interactions:
- request:
    method: head
    uri: https://route53.amazonaws.com/date
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 67ee6ab3-879d-11e3-98d7-73059d19e8a2
      Content-Type:
      - content/unknown
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Jan 2014 21:53:07 GMT
- request:
    method: get
    uri: https://route53.amazonaws.com/2012-12-12/hostedzone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amzn-Authorization:
      - AWS3-HTTPS AWSAccessKeyId=AKIAIK7CBPSH72TVCGBA,Algorithm=HmacSHA256,Signature=R4f+9b2CnE/AEx6CPlvMGM3plJr4rgYZo8VLw2ZaIMc=
      Content-Type:
      - text/xml; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 680b684c-879d-11e3-8adc-c709b31246ca
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ListHostedZonesResponse xmlns="https://route53.amazonaws.com/doc/2012-12-12/"><HostedZones><HostedZone><Id>/hostedzone/Z3HXUG22R8JWBK</Id><Name>50projects.com.</Name><CallerReference>a9f6b14e</CallerReference><Config/><ResourceRecordSetCount>22</ResourceRecordSetCount></HostedZone></HostedZones><IsTruncated>false</IsTruncated><MaxItems>100</MaxItems></ListHostedZonesResponse>
  recorded_at: Mon, 27 Jan 2014 21:53:07 GMT
recorded_with: VCR 2.8.0
