---
http_interactions:
- request:
    method: head
    uri: https://route53.amazonaws.com/date
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9391c336-879f-11e3-8a96-59f82340bc25
      Content-Type:
      - content/unknown
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Jan 2014 22:08:39 GMT
- request:
    method: get
    uri: https://route53.amazonaws.com/2012-12-12/hostedzone/Z3HXUG22R8JWBK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amzn-Authorization:
      - AWS3-HTTPS AWSAccessKeyId=AKIAIK7CBPSH72TVCGBA,Algorithm=HmacSHA256,Signature=5iNDIpJBlCE+2sAhhanRAOsppsBpm5chQpw/DuSvwZo=
      Content-Type:
      - text/xml; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 93b3ca64-879f-11e3-9add-f35e9c3aa272
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetHostedZoneResponse xmlns="https://route53.amazonaws.com/doc/2012-12-12/"><HostedZone><Id>/hostedzone/Z3HXUG22R8JWBK</Id><Name>50projects.com.</Name><CallerReference>a9f6b14e</CallerReference><Config/><ResourceRecordSetCount>22</ResourceRecordSetCount></HostedZone><DelegationSet><NameServers><NameServer>ns-535.awsdns-02.net</NameServer><NameServer>ns-1725.awsdns-23.co.uk</NameServer><NameServer>ns-308.awsdns-38.com</NameServer><NameServer>ns-1452.awsdns-53.org</NameServer></NameServers></DelegationSet></GetHostedZoneResponse>
  recorded_at: Mon, 27 Jan 2014 22:08:40 GMT
- request:
    method: post
    uri: https://route53.amazonaws.com/2012-12-12/hostedzone
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <CreateHostedZoneRequest xmlns="https://route53.amazonaws.com/doc/2012-12-12/">
          <Name>example.com.</Name>
          <CallerReference>dbdc62da</CallerReference>
          <HostedZoneConfig>
            <Comment/>
          </HostedZoneConfig>
        </CreateHostedZoneRequest>
    headers:
      X-Amzn-Authorization:
      - AWS3-HTTPS AWSAccessKeyId=AKIAIK7CBPSH72TVCGBA,Algorithm=HmacSHA256,Signature=5iNDIpJBlCE+2sAhhanRAOsppsBpm5chQpw/DuSvwZo=
      Content-Type:
      - text/xml; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Amzn-Requestid:
      - 25358b9e-87a0-11e3-bf8c-1f13207fd337
      Location:
      - https://route53.amazonaws.com/2012-12-12//hostedzone/Z3E84CELCS8770
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <CreateHostedZoneResponse xmlns="https://route53.amazonaws.com/doc/2012-12-12/"><HostedZone><Id>/hostedzone/Z3E84CELCS8770</Id><Name>example.com.</Name><CallerReference>dbdc62da</CallerReference><Config><Comment></Comment></Config><ResourceRecordSetCount>2</ResourceRecordSetCount></HostedZone><ChangeInfo><Id>/change/C2ZW86S7M9XIU1</Id><Status>PENDING</Status><SubmittedAt>2014-01-27T22:12:47.576Z</SubmittedAt></ChangeInfo><DelegationSet><NameServers><NameServer>ns-1621.awsdns-10.co.uk</NameServer><NameServer>ns-510.awsdns-63.com</NameServer><NameServer>ns-1232.awsdns-26.org</NameServer><NameServer>ns-806.awsdns-36.net</NameServer></NameServers></DelegationSet></CreateHostedZoneResponse>
  recorded_at: Mon, 27 Jan 2014 22:12:47 GMT
- request:
    method: get
    uri: https://route53.amazonaws.com/2012-12-12/change/C2ZW86S7M9XIU1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amzn-Authorization:
      - AWS3-HTTPS AWSAccessKeyId=AKIAIK7CBPSH72TVCGBA,Algorithm=HmacSHA256,Signature=5iNDIpJBlCE+2sAhhanRAOsppsBpm5chQpw/DuSvwZo=
      Content-Type:
      - text/xml; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 278a2a47-87a0-11e3-a58f-435e724ec933
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetChangeResponse xmlns="https://route53.amazonaws.com/doc/2012-12-12/"><ChangeInfo><Id>/change/C2ZW86S7M9XIU1</Id><Status>PENDING</Status><SubmittedAt>2014-01-27T22:12:47.576Z</SubmittedAt></ChangeInfo></GetChangeResponse>
  recorded_at: Mon, 27 Jan 2014 22:12:48 GMT
- request:
    method: delete
    uri: https://route53.amazonaws.com/2012-12-12/hostedzone/Z3E84CELCS8770
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amzn-Authorization:
      - AWS3-HTTPS AWSAccessKeyId=AKIAIK7CBPSH72TVCGBA,Algorithm=HmacSHA256,Signature=5iNDIpJBlCE+2sAhhanRAOsppsBpm5chQpw/DuSvwZo=
      Content-Type:
      - text/xml; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 8f57cd8b-87a0-11e3-b239-49b331f5c62c
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://route53.amazonaws.com/doc/2012-12-12/"><Error><Type>Sender</Type><Code>RequestExpired</Code><Message>Request timestamp: Mon, 27 Jan 2014 22:08:38 GMT expired.  It must be within 300 secs/ of server time.</Message></Error><RequestId>8f57cd8b-87a0-11e3-b239-49b331f5c62c</RequestId></ErrorResponse>
  recorded_at: Mon, 27 Jan 2014 22:15:42 GMT
recorded_with: VCR 2.8.0
