---
http_interactions:
- request:
    method: head
    uri: https://route53.amazonaws.com/date
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 634efeeb-87a2-11e3-bf8c-1f13207fd337
      Content-Type:
      - content/unknown
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Jan 2014 22:28:47 GMT
- request:
    method: get
    uri: https://route53.amazonaws.com/2012-12-12/hostedzone/Z3HXUG22R8JWBK/rrset?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amzn-Authorization:
      - AWS3-HTTPS AWSAccessKeyId=AKIAIK7CBPSH72TVCGBA,Algorithm=HmacSHA256,Signature=APVNFJA9XYDYwKsrPuBwP2jYLz/P8+tIGRRfGewPerk=
      Content-Type:
      - text/xml; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6364aa49-87a2-11e3-ad32-ed3fdad9cbb6
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ListResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2012-12-12/"><ResourceRecordSets><ResourceRecordSet><Name>50projects.com.</Name><Type>A</Type><AliasTarget><HostedZoneId>Z3DZXE0Q79N41H</HostedZoneId><DNSName>my-load-balancer-498104842.us-east-1.elb.amazonaws.com.</DNSName><EvaluateTargetHealth>false</EvaluateTargetHealth></AliasTarget></ResourceRecordSet><ResourceRecordSet><Name>50projects.com.</Name><Type>MX</Type><TTL>3600</TTL><ResourceRecords><ResourceRecord><Value>20 ALT1.ASPMX.L.GOOGLE.com.</Value></ResourceRecord><ResourceRecord><Value>10 ASPMX.L.GOOGLE.com.</Value></ResourceRecord><ResourceRecord><Value>30 ALT2.ASPMX.L.GOOGLE.com.</Value></ResourceRecord><ResourceRecord><Value>40 ASPMX2.GOOGLEMAIL.com.</Value></ResourceRecord><ResourceRecord><Value>50 ASPMX3.GOOGLEMAIL.com.</Value></ResourceRecord></ResourceRecords></ResourceRecordSet><ResourceRecordSet><Name>50projects.com.</Name><Type>NS</Type><TTL>172800</TTL><ResourceRecords><ResourceRecord><Value>[...]
